<!DOCTYPE html>
<html ng-app="cuentasApp">
  <head>
      <title><%= title %></title>
      <% include partials/head.ejs%>
  </head>
  <body>
      <% include partials/header.ejs%>

      <div class="container">
      </div>

      <% include partials/scriptsFooter.ejs%>
  </body>
</html>
